# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

claude/
    claude.md
    ```
    *(Not: `claude/` ifadesi eğer bir klasörse içindeki her şeyi engeller, `claude.md` ise doğrudan o dosyayı engeller).*
  
  
    Dosyalar zaten bir kere GitHub'a gittiği için Git'e "Artık bu dosyaları takip etmeyi bırak ama bilgisayarımdan silme" dememiz gerekiyor. Terminalde şu iki komutu sırayla çalıştır:
    ```bash
    git rm -r --cached claude
    ```
    ```bash
    git rm --cached claude.md
    ```
  
  
    Yaptığımız bu engelleme ve hafıza temizleme işlemini yerel Git geçmişine kaydet:
    ```bash
    git add .
    git commit -m "Claude dosya ve klasörleri takipten çıkarıldı"
    ```
  
  
    Son olarak bu değişikliği GitHub'a gönder:
    ```bash
    git push origin main
    ```